    <section class="footers" id="designer">
        <div class="container">
            <div class="row justify-content-right p-20 p-lg-20">
                <div class="col-12 text-left">
                    <span class="designer"><a href="https://mightymango.ltd">Design by MightyMango Ltd</a> and <a href="https://www.gluestudio.co.uk">Glue Digital Studio</a></span>
                </div>
            </div>
        </div>
    </section>
    