    <section class="footers" id="footer">
        <div class="container">
            <div class="row justify-content-center align-items-stretch p-40 p-lg-40">
                <div class="col-sm-8 col-lg-7 text-center text-sm-left">
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-20 mb-sm-0">
                            <h3 class="mb-5">Hamburg</h3>

                            <p>+49 40 432 91 222</p>

                            <p><a href="">hello@greatsimple.com</a></p>

                            <p>Limpmannstrasse 79, 22769,</p>

                            <p>Hamburg Germany</p>
                        </div>

                        <div class="col-12 col-sm-6 mb-20 mb-sm-0">
                            <h3 class="mb-5">Frankfurt</h3>

                            <p>+49 69 484 484 90</p>

                            <p><a href="">hello@greatsimple.com</a></p>

                            <p>Steinstrasse 11, 40212</p>

                            <p>Düsseldorf, Germany</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-5 text-center text-sm-right d-flex flex-column justify-content-between">
                    <div class="mb-15 mb-lg-0">
                        <div class="mb-5">
                            <a href="">Menu One</a>
                        </div>

                        <div class="mb-5">
                            <a href="">Menu Two</a>
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <div class="col-12 col-lg-auto mb-20 mb-lg-0">
                            <p>&copy; 2018 MightyMango Ltd rights reserved</p>
                        </div>

                        <div class="col-12 col-lg-auto">
                            <div class="socials">
                                <a href=""><img src="{{ 'facebook.svg' | asset_url }}"></a><a href=""><img src="{{ 'twitter.svg' | asset_url }}"></a><a href=""><img src="{{ 'instagram.svg' | asset_url }}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

