    {% if settings.show_notification %}
    <!-- Notification Bar -->
    <div id="notification">
        <span class="vertical-align">{{ settings.notification_text | escape }}</span>
    </div>
    {% endif %}
    