
<div class="sliders text-center p-50" id="sliders-1">
	
	<div class="container">
		
	<div class="text-left pb-20 ml--30">
		<h2 id="tape" class="tape-box-green tape-removed tape-light-padding tape-rotate-c-1 d-inline-block">Related Products</h2>
	</div>
    <div class="slider slider-rounded-buttons mb-40" id="related-products-{% if section.settings.show_dots == 'no' %}no-{% endif %}dots">    
	    {% for related in collection.products %}
		  	{% unless related.handle == product.handle %}     
	  		    {% include 'related-item' %}
			 {% endunless %}			
		{% endfor %}
    </div>
	    {% if section.settings.show_all == 'yes' %}
	    <div class="mt-20">
		    <p><a class="btn btn-small" href="{{ collection.url }}">View all related products</a></p>
	    </div>
	    {% endif %}
	</div>
</div>
