<section class="sliders text-center {% if block.settings.coloured_background %}bg-light {% endif %}p-50" id="sliders-1">
	
	<div class="container">
    <div class="slider slider-rounded-buttons" id="sliders-1-slider">

      {% for i in (1..5) %}
  		    <div class="col-12 col-sm-6 col-lg-4 slider-item">
		    <img class="image mb-30 pic-md" src="{{ 'img-4-3.png' | asset_url }}" alt="">

            <h3>Related Item {{ i }}</h3>

            <p>£348</p>
            </div>
      {% endfor %}
      
    </div>
	</div>

</section>

