    
    <section class="headers {% if block.settings.coloured_background %}bg-orange {% endif %}pt-130 pt-sm-130 pt-lg-170" id="hero">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-lg-8">
                    <h1 id="tape" class="mb-20 tape-box-green tape-yellow tape-rotate-a-1">{{ block.settings.headline | escape}}</h1>

                    <h4 id="box" class="mb-60 box-pink">{{ block.settings.strapline | escape }}</h4>
                </div>
            </div>

            <form class="mt-20 mb-40 box-align">
                <div class="row">
                    {% if block.settings.show_more_button %}
                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="#more-info" class="btn w-full no-padding"><span>Find out more</span></a>
                    </div>
					{% endif %}
                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="{{ block.settings.buy_url }}" class="btn w-full no-padding"><span>Buy</span></a>
                    </div>
                </div>
            </form>

        </div>
    </section>
    
    <section id="more-info"></section>
    