    <section class="contents {% if block.settings.coloured_background %}bg-light {% endif %}text-center p-60 p-lg-100" id="callout">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-8">
                    <img class="mb-40" src="{{ 'star-54.svg' | asset_url }}" alt="">

                    <h4>{{ block.settings.text | escape }}</h4>
                </div>
            </div>
        </div>
    </section>