    <section class="testimonials text-center pt-60 pt-lg-100 pb-0 pb-lg-40" id="testimonials">
        <div class="container">
            <h1 class="mb-40 mb-lg-80">Testimonials</h1>

            <div class="row">
                <div class="col-12 col-sm-4 mb-60">
                    <div class="ph-lg-30">
                        <p class="mb-40">"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"</p><img class="mb-20" src="{{ 'user-round-50.svg' | asset_url }}">

                        <h5>Client One</h5>

                        <p>Position</p>
                    </div>
                </div>

                <div class="col-12 col-sm-4 mb-60">
                    <div class="ph-lg-30">
                        <p class="mb-40">"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"</p><img class="mb-20" src="{{ 'user-round-50.svg' | asset_url }}">

                        <h5>Client Two</h5>

                        <p>Position</p>
                    </div>
                </div>

                <div class="col-12 col-sm-4 mb-60">
                    <div class="ph-lg-30">
                        <p class="mb-40">"Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean"</p><img class="mb-20" src="{{ 'user-round-50.svg' | asset_url }}">

                        <h5>Client Three</h5>

                        <p>Position</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    