{% layout settings.customer_layout %}

<section class="forms text-center p-60 p-lg-100" id="forms-7">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-lg-8">
        <h1 class="mb-20">Sign Up</h1>
        <h4 class="mb-40">Add a some more information here</h4>
        <form class="mb-30">
          <div class="row">
            <div class="col-12 col-sm-6 mb-20">
              <div>
                <input class="form-control form-control-light" type="text" placeholder="Input"/>
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-20">
              <div>
                <input class="form-control form-control-light" type="text" placeholder="Input"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6 mb-20">
              <div>
                <input class="form-control form-control-light" type="text" placeholder="Input"/><span class="glyphicon glyphicon-eye-open form-control-feedback"></span>
              </div>
            </div>
            <div class="col-12 col-sm-6 mb-20">
              <div>
                <input class="form-control form-control-light" type="text" placeholder="Input"/><span class="glyphicon glyphicon-eye-open form-control-feedback"></span>
              </div>
            </div>
          </div>
          <button class="btn w-full no-padding"><span>Button</span>
          </button>
        </form>
        <p class="ph-0 ph-sm-60">
          By clicking Register me, you indicate that you have read and understand our
          <a href="">Privacy Policy</a> and <a href="">Terms of Use</a>
          and represent that you are at least 13 years of age
        </p>
      </div>
    </div>
  </div>
</section>


<section class="ecommerces p-60 p-lg-100 pt-160 text-center" id="ecommerces-1">
   <div class="container">
	   
	<div id="template">
	  <div id="customer">
		  <!-- Create Customer -->
		  <div id="create-customer">
		    <div class="template_header">
		      <h2 class="title">Create Account</h2>
		    </div>
	
		    {% form 'create_customer' %}
		      {{ form.errors | default_errors }}
	
		      <div class="clearfix large_form">
		        <label for="first_name" class="login">First Name</label>
		        <input type="text" value="" name="customer[first_name]" id="first_name" class="large" size="30" />
		      </div>
	
		      <div class="clearfix large_form">
		        <label for="last_name" class="login">Last Name</label>
		        <input type="text" value="" name="customer[last_name]" id="last_name" class="large" size="30" />
		      </div>
	
		      <div class="clearfix large_form">
		        <label for="email" class="login">Email Address</label>
		        <input type="email" value="" name="customer[email]" id="email" class="large" size="30" />
		      </div>
	
		      <div class="clearfix large_form">
		        <label for="password" class="login">Password</label>
		        <input type="password" value="" name="customer[password]" id="password" class="large password" size="30" />
		      </div>
	
		      <div class="action_bottom">
		        <input class="btn" type="submit" value="Create" />
		        <span class="note">or <a href="{{ shop.url }}">Return to Store</a></span>
		      </div>
		    {% endform %}
		  </div><!-- /#create-customer -->
	  </div>
	</div>

   </div>
</section>
