{% layout settings.customer_layout %}

<section class="forms text-center p-60 p-lg-100 mt-100" id="forms-9">
	
	<div id="container">
	    
	    <div class="template_header">
	      <h2 class="title">Reset Account Password</h2>
	      <p>Enter a new password for {{ email }}</p>
	    </div>

	    {% form 'reset_customer_password' %}

		{%- if form.errors -%}
		<div class="form-message form-message--error">
		  {{ form.errors | default_errors }}
		</div>
		{%- endif -%}
		    
	    <div class="row justify-content-center">
		   <div class="col-12 col-md-6 col-lg-4"> 
	
	      <div class="row justify-content-center">
	       
	        <div class="col-12">
	
	            <div class="col-12 mb-20">           
	            <input class="form-control form-control-light bg-yellow outline outline-black-light text-black rounded placeholder-white shadow-small" type="password" name="customer[password]" id="customer_password" placeholder="Your new password"  autofocus>
	            </div>
	                      
				<div class="col-12 mb-20">
	            <input class="form-control form-control-light bg-yellow outline outline-black-light text-black rounded placeholder-white shadow-small" type="password" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder="Confirm your new password">
	            </div>
	                      
	                      
	
	        </div>
	        <div class="col-12 ">
	          <input type="submit" value="Reset Password" class="btn">
	        </div>
	      </div>
	      	   
		   
		   </div>
	    </div>
	    
	      
	    {% endform %}

	
	</div>
	
	
</section>
