{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "id": "headline",
        "type": "text",
        "label": "Headline",
        "default": "Title"
      },
      {
        "id": "strapline",
        "type": "text",
        "label": "Strapline",
        "default": "Add your text here"
      },
	{
	  "type": 	"checkbox",
	  "id": 	"coloured_background",
	  "label": 	"Coloured background",
	  "default":true
	}
    ],
  "presets": [
    {
      "name": "Hero",
      "category": "Header"
    }
  ]
  }
{% endschema %}

    <section class="headers {% if section.settings.coloured_background %}bg-light {% endif %}pt-130 pt-sm-130 pt-lg-170" id="hero">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <h1 class="mb-20">{{ section.settings.headline | escape}}</h1>

                    <h4 class="mb-60">{{ section.settings.strapline | escape }}</h4>
                </div>
            </div>

            <form class="mb-20">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="#more-info" class="btn w-full no-padding"><span>Find out more</span></a>
                    </div>

                    <div class="col-12 col-sm-4 col-lg-2 mb-20">
                        <a href="wow.html" class="btn w-full no-padding"><span>Buy</span></a>
                    </div>
                </div>
            </form>

            <div class="row bg-browser justify-content-center align-items-center d-none d-sm-block">
                <div class="col-12 col-lg-10"></div>
            </div>
        </div>
    </section>
    <section id="more-info"></section>