{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "id": "headline",
        "type": "text",
        "label": "Headline",
        "default": "Title"
      },
      {
        "id": "strapline",
        "type": "text",
        "label": "Strapline",
        "default": "Add your text here"
      },
	    {
	      "type": "image_picker",
	      "id": "hero_image",
	      "label": "Background image"
	    },
	  {
	      "type": "checkbox",
	      "id": "fixed_image",
	      "label": "Fixed background image",
	      "default": true,
	      "info": "When enabled, the background image will not scroll."
    }
    ],
  "presets": [
    {
      "name": "Hero",
      "category": "Header"
    }
  ]
  }
{% endschema %}

<style>
#hero-box {
  background: url("{{ section.settings.hero_image | img_url: 'x1024' }}") no-repeat center center{% if section.settings.fixed_image %} fixed{% endif %}; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	
</style>

    <section class="headers" id="hero-box">
        <div class="container text-center text-lg-left pt-130 pt-lg-220 pb-60 pb-lg-190">
            <div class="row justify-content-center justify-content-lg-start">
                <div class="col-12 col-sm-8 col-lg-6">
                    <h1 id="tape" class="tape-box-green tape-yellow tape-rotate-a-1"><strong>{{ section.settings.headline | escape}}</strong></h1>

                    <h4 id="box" class="box-orange box-rotate-c-1 mb-30">{{ section.settings.strapline | escape }}</h4>
         
                </div>
            </div>
        </div>
    </section>
    
    <section id="more-info"></section>