{% schema %}
{
  "name": "Introduction",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "box-1",
		"type": "textarea",
		"label": "Left column",
		"default": "Add your text here"
	},
	{
		"id": "box-2",
		"type": "textarea",
		"label": "Right column",
		"default": "Add your text here"
	},
	{
	  "type": 	"checkbox",
	  "id": 	"coloured_background",
	  "label": 	"Coloured background",
	  "default":false
	}
  ],
  "presets": [
    {
      "name": "Introduction",
      "category": "Info"
    }
  ]
}
{% endschema %}

    <section class="grids {% if section.settings.coloured_background %}bg-light {% endif %}p-60 p-lg-100 text-center text-sm-left" id="info">
        <div class="container">
            {% if section.settings.heading %}
            <h1 class="mb-40 text-center">{{ section.settings.heading | escape }}</h1>
			{% endif %}
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h4>{{ section.settings.box-1 | escape }}</h4>
                </div>

                <div class="col-12 col-sm-6">
                    <h4>{{ section.settings.box-2 | escape }}</h4>
                </div>
            </div>
        </div>
    </section>
    