
{% schema %}
{
  "name": "Introduction",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	  {
      "type": "image_picker",
      "id": "people_image",
      "label": "People"
    },
	{
		"id": "text",
		"type": "textarea",
		"label": "Text",
		"info": "Leave blank to use the product description."
	}
  ]
}
{% endschema %}

<section class="contents text-center text-sm-left pt-100 pt-lg-140" id="image-with-text">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12">
        {% if section.settings.heading %} 
        <div class="ml--20">
        <h2 id="box" class="d-inline-block box-yellow box-slim box-rotate-c-1 mb-20">
	        {{ section.settings.heading | escape }}  
        </h2>
        {% if section.settings.people_image %}
		<img class="d-none d-md-block pt-50 mr-200 float-right" src="{{ section.settings.people_image | img_url: 'x50' }}">
		{% endif %}
        </div>
        {% endif %}
        <h4 class="product-description">
          {% if section.settings.text != empty %}
          {{ section.settings.text | escape | newline_to_br }}
          {% else %}
          {{ product.description }}
          {% endif %}
        </h4>
      </div>
    </div>
  </div>
</section>


    