{% schema %}
{
  "name": "Coming Soon",
  "settings": [
   {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "message",
		"type": "textarea",
		"label": "Message",
		"default": "Add your text here"
	}
  ]
}
{% endschema %}

<section class="headers" id="headers-18">
  <div class="ph-15 ph-sm-30 ph-lg-70 pt-50 pb-50">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-6 col-sm-4 text-center"><h2 id="tape" class="tape-center tape-box-orange tape-pink tape-rotate-c-1">{{ shop.name }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="call-to-actions text-center" id="coming-soon">
  <div class="container">
    <div class="row justify-content-center">
      <div id="tape" class="col-12 col-sm-10 col-lg-8 tape-orange tape-rotate-a-1">
	    {% if section.settings.image %}
	    <img class="p-30" src="{{ section.settings.image | img_url }}" alt=""/> 
	    {% endif %}
        <h2 class="mb-20">{{ section.settings.heading | escape }}</h2>
        <h4 class="mb-40">
          {{ section.settings.message | escape | newline_to_br}}
        </h4>
        </a>
      </div>
    </div>
  </div>
</section>