{% schema %}
{
  "name": "Coming Soon",
  "settings": [
   {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "message",
		"type": "textarea",
		"label": "Message",
		"default": "Add your text here"
	}
  ]
}
{% endschema %}

<section class="call-to-actions text-center p-120 p-lg-200" id="coming-soon">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-lg-8">
	    {% if section.settings.image %}
	    <img class="p-30" src="{{ section.settings.image | img_url }}" alt=""/> 
	    {% endif %}
        <h1 class="mb-20">{{ section.settings.heading | escape }}</h1>
        <h4 class="mb-40">
          {{ section.settings.message | escape | newline_to_br}}
        </h4>
        </a>
      </div>
    </div>
  </div>
</section>