{% schema %}
{
  "name": "Products",
  "settings": [
	{
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Products"
    },
	{
	      "type": "image_picker",
	      "id": "people_image",
	      "label": "People"
	},
    {
	   "type": "product",
	   "id": "feature_product",
	   "label": "Featured product",
	   "info": "The featured product will be given more prominence on the page."
	},
	{
   "type": "collection",
   "id": "feature_collection",
   "label": "Featured collection"
}

  ],
  "presets": [
    {
      "name": "Product Grid",
      "category": "Products"
    }
  ]
}
{% endschema %}
     
    {% assign collection = collections[section.settings.feature_collection] %}

    <section class="ecommerces" id="ecommerces-1">
        <div class="container">
            	        
        	{% for product in collection.products %}
			      {% if product.handle == section.settings.feature_product %}
			      <div class="row justify-content-center mb-30">
			      {% include 'product-item-featured-front' %}
			      </div>
			      {% endif %}
			{% endfor %}
				  
	        <div class="row">
	            <div class="col-12 col-sm-6">
	            <h2 id="box" class="d-inline-block box-yellow box-rotate-c-1">{{ section.settings.heading }}</h2>
	            </div>
	            <div class="col-12 col-sm-2">
		            <img class="mt--30" src="{{ section.settings.people_image | img_url: 'x100' }}">
	            </div>
	        </div>

	        
            {% if collection.description.size > 0 %}
			{{ collection.description }}
			{% endif %}
			
            <div class="row justify-content-center">
				  
				  {%- assign position = section.settings.featured_position -%}
				  {% for product in collection.products %}
				      {% if product.handle != section.settings.feature_product %}
				      {% include 'product-item-no-buttons' %}
				      {% endif %}
				  {% else %}
				    <div class="col-12"><h2>There are no products in this view.</h2></div>
				  {% endfor %}

            </div>           
           
        </div>
    </section>
    

