{% schema %}
{
  "name": "Purchase",
  "settings": [
	{
		"id": "heading",
		"type": "text",
		"label": "Heading",
		"default": "Title"
	},
	{
		"id": "subheading",
		"type": "text",
		"label": "Subheading",
		"default": "Subheading"
	},
	{
		"id": "strapline",
		"type": "text",
		"label": "Strapline",
		"default": "Strapline"
	}   
  ],
  "presets": [
    {
      "name": "Purchase",
      "category": "Text"
    }
  ]
}
{% endschema %}

    <section class="features text-center pt-60 pt-lg-100 pb-45 pb-sm-30 pb-lg-70" id="features">
        <div class="container">
            <h1 class="mb-60">{{ section.settings.heading | escape}}</h1>

            <div class="row">
                <div class="col-12 col-sm-12 mb-15 mb-sm-30">
                    <div class="d-flex p-30 panel justify-content-center">
                        <div class="align-self-center ph-15 ph-lg-100">
                            <img class="mb-30" src="{{ 'pic-70.svg' | asset_url }}">

                            <h2 class="mb-15">{{ section.settings.subheading | escape}}</h2>

                            <p class="mb-30 mb-lg-50">{{ section.settings.strapline | escape }}</p><a href="wow.html" class="btn btn-small">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    