<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="15px" viewBox="0 0 30 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Basket Icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icon" transform="translate(-517.000000, -114.000000)" fill="{{ settings.color_5 }}">
            <path d="M526.777055,124.984993 L537.222945,124.984993 L543.423885,114 L547,115.946514 L539.585384,129 L524.401963,129 L524.401912,128.997125 L524.396498,129 L517,115.946514 L520.576115,114 L526.777055,124.984993 Z" id="Basket-Icon"></path>
        </g>
    </g>
</svg>