<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard</title>
    <desc>Created with Sketch.</desc>
    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="basket-icon" transform="translate(0.000000, 8.000000)" fill="{{ settings.color_5 }}">
            <polygon id="Basket-Icon" points="9.777055 10.984993 20.222945 10.984993 26.423885 0 30 1.946514 22.585384 15 7.401963 15 7.401912 14.997125 7.396498 15 0 1.946514 3.576115 0"></polygon>
        </g>
        <text id="1" font-family="Roboto-Medium, Roboto" font-size="10" font-weight="400" fill="{{ settings.color_5 }}">
            <tspan x="12.1582031" y="14">{{ cart.item_count }}</tspan>
        </text>
    </g>
</svg>