<?xml version="1.0" encoding="UTF-8"?>
<svg width="160px" height="160px" viewBox="0 0 160 160" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Artboard</title>
    <desc>Created with Sketch.</desc>
    <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-dasharray="12,4" stroke-linejoin="round">
        <path d="M80,0 C80,40.4317961 80,67.0854419 80,79.9609375 L159.75,79.9609375" id="Path" stroke="#000000" stroke-width="9"></path>
    </g>
</svg>