<?xml version="1.0" encoding="UTF-8"?>
<svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Facebook-White</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-38.000000, -45.000000)" fill="{{ settings.social_color }}">
            <g id="Facebook-White" transform="translate(38.000000, 45.000000)">
                <g id="Facebook">
                    <path d="M0,19.5 C0,8.73044685 8.73044685,0 19.5,0 C30.2695532,0 39,8.73044685 39,19.5 C39,30.2695532 30.2695532,39 19.5,39 C8.73044685,39 0,30.2695532 0,19.5 Z M20.8825135,30.3155748 L20.8825135,19.7065453 L23.8110696,19.7065453 L24.1991666,16.050615 L20.8825135,16.050615 L20.8874891,14.2207867 C20.8874891,13.2672637 20.9780865,12.7563444 22.3476208,12.7563444 L24.1784349,12.7563444 L24.1784349,9.1 L21.2494641,9.1 C17.7312992,9.1 16.4929964,10.8735195 16.4929964,13.8560217 L16.4929964,16.051029 L14.3,16.051029 L14.3,19.7069593 L16.4929964,19.7069593 L16.4929964,30.3155748 L20.8825135,30.3155748 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>