.notification {

  position: fixed;
  right: 0;
  top: 0;
  background: linear-gradient(270deg, #6f2cd3, #8c2cd6);
  border-radius: 8px;
  opacity: 0.6;
  margin: 45px;
  margin-top: 0px;
  padding: 12px;
  -webkit-transition: margin-top 0.3s;
  transition: margin-top 0.3s;
  z-index: 1005;

}

.notification h2 {

  color: #fff;
  font-size: 22px;
  font-weight: 200;
  margin: 0;
  margin-bottom: 4px;

}

.notification h3 {

  color: #fff;
  font-size: 18px;
  font-weight: 200;
  margin: 0;

}
