<?xml version="1.0" encoding="UTF-8"?>
<svg width="30px" height="32px" viewBox="0 0 30 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Profile Icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icon" transform="translate(-292.000000, -78.000000)" fill="{{ settings.color_5 }}">
            <g id="Profile-Icon" transform="translate(292.000000, 78.000000)">
                <ellipse id="Oval" cx="15.1056338" cy="8.79470199" rx="8.76760563" ry="8.79470199"></ellipse>
                <path d="M4.22535211,20.7682119 L25.7746479,20.7682119 C28.1082454,20.7682119 30,22.6599665 30,24.993564 L30,32 L0,32 L0,24.993564 C-2.85783275e-16,22.6599665 1.89175458,20.7682119 4.22535211,20.7682119 Z" id="Rectangle"></path>
            </g>
        </g>
    </g>
</svg>