<?xml version="1.0" encoding="UTF-8"?>
<svg width="27px" height="27px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Search Icon</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Icon" transform="translate(-91.000000, -91.000000)">
            <g id="Search-Icon" transform="translate(103.000000, 106.000000) rotate(-45.000000) translate(-103.000000, -106.000000) translate(88.000000, 98.000000)">
                <ellipse id="Oval" stroke="{{ settings.color_5 }}" stroke-width="3.72670807" cx="22.0807453" cy="8" rx="7.91925466" ry="8"></ellipse>
                <rect id="Rectangle" fill="{{ settings.color_5 }}" transform="translate(6.674498, 8.060199) scale(1, -1) translate(-6.674498, -8.060199) " x="0.152758724" y="6.17784568" width="13.0434783" height="3.76470588"></rect>
            </g>
        </g>
    </g>
</svg>