<?xml version="1.0" encoding="UTF-8"?>
<svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Twitter-White</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-88.000000, -45.000000)" fill="{{ settings.social_color }}">
            <g id="Twitter-White" transform="translate(88.000000, 45.000000)">
                <g id="Twitter">
                    <path d="M0,19.5 C0,8.73044685 8.73044685,0 19.5,0 C30.2695532,0 39,8.73044685 39,19.5 C39,30.2695532 30.2695532,39 19.5,39 C8.73044685,39 0,30.2695532 0,19.5 Z M18.9159771,15.8498443 L18.9568967,16.5245883 L18.2749043,16.4419665 C15.7924522,16.12525 13.6237165,15.0511677 11.7823372,13.2472603 L10.8821073,12.3521917 L10.6502299,13.0131654 C10.1591954,14.486586 10.4729119,16.0426283 11.4959004,17.08917 C12.0414943,17.667522 11.9187357,17.7501437 10.9775862,17.4058865 C10.6502299,17.2957242 10.3637931,17.2131025 10.3365134,17.2544134 C10.2410345,17.3508054 10.5683908,18.6039014 10.8275479,19.0996317 C11.1821839,19.7881459 11.9050958,20.4628899 12.6962069,20.8622282 L13.3645594,21.1789448 L12.5734483,21.1927151 C11.8096169,21.1927151 11.7823372,21.2064853 11.8641763,21.4956613 C12.1369732,22.3907299 13.2145211,23.3408796 14.4148276,23.7539882 L15.2604982,24.0431642 L14.5239464,24.4838133 C13.4327587,25.1172464 12.1506131,25.4752739 10.8684674,25.5028144 C10.2546743,25.5165847 9.75,25.5716659 9.75,25.6129767 C9.75,25.7506796 11.4140613,26.5218156 12.3824905,26.8247619 C15.2877779,27.7198304 18.7386591,27.3342624 21.33023,25.8057607 C23.1716094,24.7179082 25.0129887,22.5559733 25.8722991,20.4628899 C26.3360539,19.3474968 26.7998087,17.3094945 26.7998087,16.3318043 C26.7998087,15.6983711 26.8407282,15.6157494 27.6045596,14.8583837 C28.0546746,14.4177346 28.4775098,13.9357746 28.5593489,13.7980717 C28.6957474,13.5364363 28.6821075,13.5364363 27.9864753,13.7705311 C26.8270883,14.1836397 26.6634102,14.1285586 27.2362838,13.5088957 C27.659119,13.0682466 28.1637933,12.26957 28.1637933,12.0354752 C28.1637933,11.9941643 27.9591956,12.0630157 27.7273182,12.1869483 C27.481801,12.3246512 26.9362071,12.5312054 26.5270117,12.655138 L25.79046,12.8892329 L25.1221075,12.4348134 C24.7538316,12.1869483 24.2355174,11.9115426 23.9627205,11.8289209 C23.2670883,11.6361369 22.2031802,11.6636774 21.5757473,11.884002 C19.8707664,12.5036649 18.7932185,14.101018 18.9159771,15.8498443 Z" id="Combined-Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>