<?xml version="1.0" encoding="UTF-8"?>
<svg width="20px" height="15px" viewBox="0 0 20 15" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Fill 43</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M13.3445352,7.27316836 L7.93524028,10.2547307 L7.93524028,4.26855895 L10.3852768,5.6323791 L13.3445352,7.27316836 Z M19.8050883,3.23750607 C19.8050883,3.23750607 19.5998972,1.76289827 19.0029059,1.12000647 C18.2446083,0.277373443 17.3878664,0.266456413 17.0087177,0.210658257 C14.2119517,0 10.0168027,0 10.0168027,0 L9.99466266,0 C9.99466266,0 5.81097911,0 3.01342242,0.210658257 C2.61292427,0.266456413 1.76725246,0.277373443 1.00855951,1.12000647 C0.411963548,1.76289827 0.206772491,3.23750607 0.206772491,3.23750607 C0.206772491,3.23750607 0,4.96684457 0,6.67394469 L0,8.30381692 C0,10.0331554 0.206772491,11.7406599 0.206772491,11.7406599 C0.206772491,11.7406599 0.411963548,13.2152677 1.00855951,13.8690765 C1.76725246,14.7226266 2.76513729,14.6898755 3.22019491,14.7780204 C4.81348963,14.9446062 10.0168027,15 10.0168027,15 C10.0168027,15 14.2119517,14.9777616 17.0087177,14.7780204 C17.3878664,14.7226266 18.2446083,14.7226266 19.0029059,13.8690765 C19.5998972,13.2152677 19.8050883,11.7406599 19.8050883,11.7406599 C19.8050883,11.7406599 20,10.0331554 20,8.30381692 L20,6.67394469 C20,4.96684457 19.8050883,3.23750607 19.8050883,3.23750607 Z" id="Fill-43" fill="{{ settings.social_color }}"></path>
    </g>
</svg>