<?xml version="1.0" encoding="UTF-8"?>
<svg width="39px" height="39px" viewBox="0 0 39 39" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52 (66869) - http://www.bohemiancoding.com/sketch -->
    <title>Youtube-White</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Artboard" transform="translate(-240.000000, -47.000000)" fill="{{ settings.social_color }}">
            <path d="M259.5,86 C248.730447,86 240,77.2695526 240,66.5 C240,55.7304474 248.730447,47 259.5,47 C270.269553,47 279,55.7304474 279,66.5 C279,77.2695526 270.269553,86 259.5,86 Z M263.346215,66.2429241 L257.125526,69.6220281 L257.125526,62.8377001 L259.943068,64.383363 L263.346215,66.2429241 Z M270.775852,61.6691735 C270.775852,61.6691735 270.539882,59.9979514 269.853342,59.2693407 C268.9813,58.3143566 267.996046,58.3019839 267.560025,58.238746 C264.343744,58 259.519323,58 259.519323,58 L259.493862,58 C259.493862,58 254.682626,58 251.465436,58.238746 C251.004863,58.3019839 250.03234,58.3143566 249.159843,59.2693407 C248.473758,59.9979514 248.237788,61.6691735 248.237788,61.6691735 C248.237788,61.6691735 248,63.6290905 248,65.563804 L248,67.4109925 C248,69.3709095 248.237788,71.3060812 248.237788,71.3060812 C248.237788,71.3060812 248.473758,72.9773034 249.159843,73.7182867 C250.03234,74.6856435 251.179908,74.6485256 251.703224,74.7484231 C253.535513,74.9372204 259.519323,75 259.519323,75 C259.519323,75 264.343744,74.9747965 267.560025,74.7484231 C267.996046,74.6856435 268.9813,74.6856435 269.853342,73.7182867 C270.539882,72.9773034 270.775852,71.3060812 270.775852,71.3060812 C270.775852,71.3060812 271,69.3709095 271,67.4109925 L271,65.563804 C271,63.6290905 270.775852,61.6691735 270.775852,61.6691735 Z" id="Youtube-White"></path>
        </g>
    </g>
</svg>