{% assign show_tax_message = false %}

<section class="call-to-actions text-center p-260 p-lg-300" id="call-to-actions-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-lg-8">
        <h1 class="mb-20">404 Page Not Found</h1>
        <h4 class="mb-40">
          The page you requested does not exist.
        </h4>
        <a href="/collections/all" class="btn mb-20"><span>Continue</span>
        </a>
      </div>
    </div>
  </div>
</section>




