
    <section class="ecommerces p-60 p-lg-100 pt-160 text-center" id="ecommerces-1">
        <div class="container">
            <h1>Products</h1>
            
            {% if collection.description.size > 0 %}
			{{ collection.description }}
			{% endif %}
			

            <div class="tabs-content mb-30 mt-30" id="ecommerces-1-tabs">
                <div class="tab-panel active" id="ecommerce-1-tab-0">
                    <div class="row">
	                
						  {% for product in collection.products %}
						      {% include 'product-item' %}
						  {% else %}
						    <p>There are no products in this view.</p>
						  {% endfor %}

                    </div>
                </div>
                
            </div>
           
           
        </div>
    </section>
    