{% assign show_tax_message = false %}

<section class="mt-100">
	<div class="container">
		<h2 id="tape" class="d-inline-block tape-orange tape-box-yellow tape-light-padding tape-rotate-a-1">{{ page.title }}</h2>
		<div class="policy">{{ page.content }}</div>
	</div>
</section>