<section><!-- Workaround for css setting padding for first child section --></section> 
<section class="ecommerces text-left" id="ecommerces-5">

	<div itemscope itemtype="http://schema.org/Product">
	  
	  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
	  <meta itemprop="image" content="{{ product | img_url: 'x600' }}" />
	          
	        <div class="container">
			{% section 'product' %}
	        </div>
	</div>
        
</section>
    

    